* {
    box-sizing: border-box;
}

body {
    background-color: rgba(238, 245, 252, 0.733);
}

.jumbotron{
    padding-right: 0px 0px 0px 20px;
    margin: 60px 180px 10px 180px;
    background-color: rgb(193, 196, 222);
    border-radius: 25px;
    border: 2px solid rgb(185, 189, 213);
    box-shadow: 4px rgb(111, 95, 106);
    color: rgb(42, 43, 44);

}


.btn{
    font-size: 35px;
    background-color: rgb(184, 180, 233);
    margin-bottom: 6px;
    margin-top: 0px;
    border: 1.5px solid rgb(169, 167, 219);
    border-radius: 15px;
    box-shadow: 2px rgb(139, 137, 233);
}

.btn:hover{
    background-color: rgb(174, 188, 246);
}